.card_s{
    width: 100%;
    max-width: 24rem;
    height: 27rem;
    max-height: 27rem;
    background-color: var(--color-white);
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    cursor: default;
    border: 2px solid #fff;
    transition: all .25s ease;
}

.card_s h4{
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}

.card_s p{
    font-size: 1.6rem;
}

.card_s:hover{
    border-color: var(--color-primary);
    box-shadow: 0 0 10px 0 #5188ff;
    transform: translateY(-3px);
}

.card_s:hover h4{
    color: var(--color-primary);
}

/* project */

.card_p{
    background-color: #edecec;
    transition: all .25s ease;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
}

@media (min-width:580px){
    .card_p{
        border-right: 4px solid rgba(0, 0, 0, 0);
    }
}

.card_p:hover{
    transform: translateY(-5px);
    border-color: var(--color-primary);
}

.card_p:hover h5{
    color: var(--color-primary-2);
}

.card_p img{
    transition: all .25s ease;
}

.card_p:hover img{
    scale: calc(1.2);
}


.card_img{
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

.card_img img{
    width: 100%;
    height: 100%;
}

.card_content{
    padding: 1rem;
}

.card_content h5{
    font-size: 2.8rem;
    font-weight: bold;
}

.card_p a{
    font-weight: bold;
    background-color: var(--color-white);
    width: max-content;
    padding: .3rem 1rem;
    border-radius: .5rem;
    transition: all .25s ease;
}

.card_p a:hover{
    background-color: var(--color-primary-2);
    color: var(--color-white);
}

@media (min-width:480px) {
    .card_p{
        display: flex;
    }
    .card_img{
        max-width: 35%;
        height: 100%;
    }

    .card_content{
        max-width: 65%;
    }
}